/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía y fondo */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: 0.3s;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 15px 30px;
}

.logo h1 {
    font-size: 22px;
}

.nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

/* BOTONES */
.btn-accion {
    background-color: #007bff;
    border: none;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-accion:hover {
    background-color: #0056b3;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

/* SECCIONES */
.seccion {
    padding: 40px 20px;
    text-align: center;
}

.seccion h2 {
    margin-bottom: 20px;
}

/* TARJETAS */
.tarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* BOTONES DE PROYECTO */
.btn-ver {
    margin-top: 10px;
    padding: 6px 10px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-ver:hover {
    background-color: #1e7e34;
}

/* TEXTO OCULTO */
.oculto {
    display: none;
}

/* FORMULARIO */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.respuesta {
    margin-top: 15px;
    font-weight: bold;
}

/* FOOTER */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

/* MODO OSCURO */
.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

.dark-mode .header {
    background-color: #000;
}

.dark-mode .card {
    background-color: #1e1e1e;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid white;
}


.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

html {
    scroll-behavior: smooth;
}

.formulario input:focus,
.formulario textarea:focus {
    outline: none;
    border: 2px solid #007bff;
}


#btnTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}